.embed__container {
  position: relative;
  padding-bottom: 56%;
  width: 100%;
  text-align: left;
  background-color: #000000;
  border-radius: 20px;
}

.embed__container iframe {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

#player {
  width: 100%;
}

.media-carousel .owl-item .video-thumb.active:before {
  opacity: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  left: 0;
  top: 0;
  background: rgba(247, 148, 30, 0.75);
  z-index: 1;
  transition: all 250ms ease-out;
}

.media-carousel .owl-item .video-thumb:not(.active):hover:before {
  opacity: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  left: 0;
  top: 0;
  background: rgba(247, 148, 30, 0.3);
  z-index: 1;
  transition: all 1s ease-out;
  cursor: pointer;
}

.video-thumb img {
  border-radius: 10px;
}

.video-thumb:not(.active):hover:before {
  background: rgba(247, 148, 30, 0.3);
}

.video-thumb:after {
  content: "\f01d";
  font-family: "FontAwesome";
  top: 50%;
  left: 50%;
  margin: -0.458em 0 0 -0.5em;
  color: rgba(255, 255, 255, 0);
  font-size: 2em;
  line-height: 1;
  position: absolute;
  transition: all 250ms ease-out;
}

.video-thumb.active:after {
  color: rgba(255, 255, 255, 1);
}

.media-carousel .owl-item img {
  position: relative;
}

#player .ytp-expand-pause-overlay .ytp-pause-overlay {
  display: none !important;
}

#playerWrap {
  display: inline-block;
  position: relative;
}

#playerWrap.shown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64px 64px;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgNTEwIDUxMCI+PHBhdGggZD0iTTI1NSAxMDJWMEwxMjcuNSAxMjcuNSAyNTUgMjU1VjE1M2M4NC4xNSAwIDE1MyA2OC44NSAxNTMgMTUzcy02OC44NSAxNTMtMTUzIDE1My0xNTMtNjguODUtMTUzLTE1M0g1MWMwIDExMi4yIDkxLjggMjA0IDIwNCAyMDRzMjA0LTkxLjggMjA0LTIwNC05MS44LTIwNC0yMDQtMjA0eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==);
}

.loading__text__player {
  left: 50%;
  top: 50%;
}

.media-carousel .owl-dots .owl-dot span {
  margin: 0;
}
