/* font aminated title/deskripsi */
.comingsoon-loading {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingsoon-loading h1 {
  position: absolute;
  font-size: 4vh;
  color:  #ffcc00;
  -webkit-text-stroke: 2px black;
  /*text-transform: uppercase;*/
}

.comingsoon-loading h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  -webkit-text-stroke: 0px black;
  border-right: 4px solid black;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

/* animation to fill text */

@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }
  50%,70%
  {
    width: 100%;
  }
}



/*****************************************/
/*    Highlight style for <strong> tag   */
/*****************************************/

.post-heading {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.post-heading h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-style: normal;
    display: inline;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%,
            rgb(255 69 0) 65%);
    box-shadow: inset 0 -0.5em 0 rgb(255 203 86);
}


/*****************************************/
/*    text to speech   */
/*****************************************/

.media-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.media-button {
  background-color: transparent;
  border: none;
  align-items: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 421px) {
  .media-button {
    padding: 12px;
  }
}

.button-icons {
  background-color: #ffc399;
  border-radius: 100%;
  margin-bottom: 4px;
  margin-top: auto;
  padding: 15px;
}

.button-icons,
.secondary-media-button .button-icons {
  background-color: transparent;
  color: #919191;
}
.primary-media-button .button-icons {
  background: linear-gradient(to bottom left, #fff8e7, #ffe1cc);
  color: #838383;
}

.media-button:focus {
  outline: none;
  border: none;
}